<h1>New Place</h1>
<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "image", "Image URL"%>
    <%= form.text_field "image" %>
  </p>
  <p>
    <%= form.label "body" %>
    <%= form.text_field "body" %>
    <%= form.label "author" %>
    <%= form.text_field "author" %>
  </p>
  <%= form.submit %>
<% end %>