<h1>New Place</h1>
<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name of place" %>
    <%= form.text_field "name" %>
    <!-- <%= form.label "first arrived" %>
    <%= form.date_field "first arrived" %> --> 
  </p>
  <%= form.submit %>
<% end %>